# Pandas Exercises

In [ ]:
import numpy as np
import pandas as pd

### Create a 10x4 DataFrame using random integers from 1 to 100 and name the columns

### Use the code below to get the iris_data to use with the following problems:

In [ ]:
iris_data = pd.read_csv("iris.csv", names = ["sepal_l", "sepal_w", "petal_l", "petal_w", "class"])

### Display the last 10 rows in iris_data

### Return only the 3 different class labels in iris_data

### Transform the 3 'class' labels in iris_data to the integers (0,1,2) and then display only rows 0 50, and 100

### Display the features 'sepal_l', 'petal_l', and 'class' where 'sepal_l' is greater than 7 or less than 5

### Place the iris_data 'class' values in the variable y and all other values in the variable X 
### (not the DataFrame, just the values)

In [ ]:
X = 
X

In [ ]:
y = 
y

### Write a function that takes a DataFrame and returns that DataFrame with all of its values standardized.

In [ ]:
def standardize(df):
    pass

def normalize(df):
    pass